In [ ]:
##################################################################################
#                               A I R B N B                                      #
#                                                                                #
#                      An√°lisis de datos exploratorio                            #
##################################################################################

In [3]:
# Carga de librerias
import pandas as pd
import numpy as np

# Carga de comentarios

In [4]:
df_comentarios = pd.read_csv('Reviews.csv')
df_comentarios.head()

   listing_id  review_id        date  reviewer_id
0       11798  330265172  2018-09-30     11863072
1       15383  330103585  2018-09-30     39147453
2       16455  329985788  2018-09-30      1125378
3       17919  330016899  2018-09-30    172717984
4       26827  329995638  2018-09-30     17542859

In [5]:
# Renombrando columnas
column_name_mapping = {
    'listing_id' : 'id_alojamiento',
    'review_id'  : 'id_comentario',
    'date'       : 'Fecha',
    'reviewer_id': 'id_usuario_comenta'
}

In [6]:
df_comentarios_renamed = df_comentarios.rename(columns=column_name_mapping)
df_comentarios_renamed.head()

   id_alojamiento  id_comentario       Fecha  id_usuario_comenta
0           11798      330265172  2018-09-30            11863072
1           15383      330103585  2018-09-30            39147453
2           16455      329985788  2018-09-30             1125378
3           17919      330016899  2018-09-30           172717984
4           26827      329995638  2018-09-30            17542859

In [7]:
df_comentarios.dtypes

listing_id      int64
review_id       int64
date           object
reviewer_id     int64
dtype: object

In [8]:
# Cambio el tipo de dato de object a datetime
df_comentarios_renamed['Fecha'] = pd.to_datetime(df_comentarios_renamed['Fecha'])
df_comentarios_renamed.head()

   id_alojamiento  id_comentario      Fecha  id_usuario_comenta
0           11798      330265172 2018-09-30            11863072
1           15383      330103585 2018-09-30            39147453
2           16455      329985788 2018-09-30             1125378
3           17919      330016899 2018-09-30           172717984
4           26827      329995638 2018-09-30            17542859

In [9]:
df_comentarios_renamed.isna().sum()

id_alojamiento        0
id_comentario         0
Fecha                 0
id_usuario_comenta    0
dtype: int64

# Carga de informaci√≥n de alojamientos

In [10]:
df_alojamientos = pd.read_csv('Listings_utf8.csv')
df_alojamientos.head()

e:\users\dmorga\miniconda3\envs\bedu_ambiente\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 m√É‚Äö√Ç¬≤ Paris (Sacre C√É‚Ä¶√¢‚Ç¨≈ìur),10328771,29/11/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [11]:
df_alojamientos['host_response_time'] = df_alojamientos['host_response_time'].fillna('Unknown')
df_alojamientos['host_response_rate'] = df_alojamientos['host_response_rate'].fillna(0)
df_alojamientos['host_acceptance_rate'] = df_alojamientos['host_acceptance_rate'].fillna(0)
df_alojamientos.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 m√É‚Äö√Ç¬≤ Paris (Sacre C√É‚Ä¶√¢‚Ç¨≈ìur),10328771,29/11/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [12]:
df_alojamientos.shape

(279712, 33)

In [13]:
df_alojamientos['name'] = df_alojamientos['name'].fillna('Unknown')
df_alojamientos['district'] = df_alojamientos['district'].fillna('Unknown')

In [14]:
df_alojamientos_no_nans = df_alojamientos.dropna(axis=0, how='any')

In [15]:
df_alojamientos.isna().sum()

listing_id                         0
name                               0
host_id                            0
host_since                       165
host_location                    840
host_response_time                 0
host_response_rate                 0
host_acceptance_rate               0
host_is_superhost                165
host_total_listings_count        165
host_has_profile_pic             165
host_identity_verified           165
neighbourhood                      0
district                           0
city                               0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bedrooms                       29435
amenities                          0
price                              0
minimum_nights                     0
maximum_nights                     0
review_scores_rating           91405
review_scores_accuracy         91713
review_scores_cleanliness      91665
review_scores_checkin          91771
review_scores_communication    91687
review_scores_location         91775
review_scores_value            91785
instant_bookable                   0
dtype: int64

In [16]:
df_alojamientos_no_nans.shape

(167717, 33)

In [17]:
df_alojamientos_no_nans.dtypes

listing_id                       int64
name                            object
host_id                          int64
host_since                      object
host_location                   object
host_response_time              object
host_response_rate             float64
host_acceptance_rate           float64
host_is_superhost               object
host_total_listings_count      float64
host_has_profile_pic            object
host_identity_verified          object
neighbourhood                   object
district                        object
city                            object
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bedrooms                       float64
amenities                       object
price                            int64
minimum_nights                   int64
maximum_nights                   int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
instant_bookable                object
dtype: object

In [18]:
df_alojamientos_no_nans = df_alojamientos_no_nans.drop(['host_has_profile_pic', 'review_scores_rating'], axis = 1)

In [19]:
# Renombrando columnas
column_name_mapping = {
    'listing_id'                  : 'id_alojamiento',
    'name'                        : 'nombre',
    'host_id'                     : 'id_anfitrion',
    'host_since'                  : 'fecha_inicio_anfitrion',
    'host_location'               : 'localizacion_anfitrion',
    'host_response_time'          : 'tiempo_respuesta_anfitrion',
    'host_response_rate'          : 'tasa_respuesta_anfitrion',
    'host_acceptance_rate'        : 'tasa_aceptacion_anfitrion',
    'host_is_superhost'           : 'superanfitrion',
    'host_total_listings_count'   : 'total_alojamientos_anfitrion',
    'host_identity_verified'      : 'identidad_verificada_anfitrion',
    'neighbourhood'               : 'vecindario',
    'district'                    : 'distrito',
    'city'                        : 'ciudad',
    'latitude'                    : 'latitud',
    'longitude'                   : 'longitud',
    'property_type'               : 'tipo_propiedad',
    'room_type'                   : 'tipo_habitacion',
    'accommodates'                : 'num_huespedes',
    'bedrooms'                    : 'num_habitaciones',
    'amenities'                   : 'amenidades',
    'price'                       : 'precio',
    'minimum_nights'              : 'num_minimo_noches',
    'maximum_nights'              : 'num_maximo_noches',
    'review_scores_accuracy'      : 'calificacion_exactitud_anuncio',
    'review_scores_cleanliness'   : 'calificacion_comentarios_limpieza' ,
    'review_scores_checkin'       : 'calificacion_comentarios_entrada',
    'review_scores_communication' : 'calificacion_comentarios_comunicacion',
    'review_scores_location'      : 'calificacion_comentarios_localizacion',
    'review_scores_value'         : 'calificacion_total_comentarios',
    'instant_bookable'            : 'reservacion_instantanea'
}

In [20]:
df_alojamientos_clean = df_alojamientos_no_nans.rename(columns=column_name_mapping)
df_alojamientos_clean.head()

,id_alojamiento,nombre,id_anfitrion,fecha_inicio_anfitrion,localizacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,tasa_aceptacion_anfitrion,superanfitrion,total_alojamientos_anfitrion,...,precio,num_minimo_noches,num_maximo_noches,calificacion_exactitud_anuncio,calificacion_comentarios_limpieza,calificacion_comentarios_entrada,calificacion_comentarios_comunicacion,calificacion_comentarios_localizacion,calificacion_total_comentarios,reservacion_instantanea
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,53,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 m√É‚Äö√Ç¬≤ Paris (Sacre C√É‚Ä¶√¢‚Ç¨≈ìur),10328771,29/11/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,120,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,89,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,58,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,60,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f

In [21]:
df_alojamientos_clean.dtypes

id_alojamiento                             int64
nombre                                    object
id_anfitrion                               int64
fecha_inicio_anfitrion                    object
localizacion_anfitrion                    object
tiempo_respuesta_anfitrion                object
tasa_respuesta_anfitrion                 float64
tasa_aceptacion_anfitrion                float64
superanfitrion                            object
total_alojamientos_anfitrion             float64
identidad_verificada_anfitrion            object
vecindario                                object
distrito                                  object
ciudad                                    object
latitud                                  float64
longitud                                 float64
tipo_propiedad                            object
tipo_habitacion                           object
num_huespedes                              int64
num_habitaciones                         float64
amenidades                                object
precio                                     int64
num_minimo_noches                          int64
num_maximo_noches                          int64
calificacion_exactitud_anuncio           float64
calificacion_comentarios_limpieza        float64
calificacion_comentarios_entrada         float64
calificacion_comentarios_comunicacion    float64
calificacion_comentarios_localizacion    float64
calificacion_total_comentarios           float64
reservacion_instantanea                   object
dtype: object

In [22]:
df_alojamientos_clean['fecha_inicio_anfitrion'] = pd.to_datetime(df_alojamientos_clean['fecha_inicio_anfitrion'])

In [23]:
sum(df_alojamientos_clean['tasa_aceptacion_anfitrion']==0)

58558

In [24]:
df_alojamientos_filtrado= df_alojamientos_clean.loc[df_alojamientos_clean['tasa_aceptacion_anfitrion'] > 0]

In [25]:
df_alojamientos_filtrado.shape

(109159, 31)

In [26]:
def get_year(valor):
    return valor.year

In [27]:
# Se agrega el campo Anio
df_alojamientos_filtrado['Anio'] = df_alojamientos_filtrado['fecha_inicio_anfitrion'].apply(get_year)

<ipython-input-27-62a5d002ec09>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado['Anio'] = df_alojamientos_filtrado['fecha_inicio_anfitrion'].apply(get_year)

In [28]:
df_alojamientos_filtrado.shape

(109159, 32)

In [29]:
#Se agrega el campo precio en dolares

In [32]:
# funcion convertir precio a dolares

def get_precio_dolar(ciudad, precio):
    if ciudad == 'Rome':             res = (precio/0.85)
    elif ciudad == 'Paris':          res = (precio/0.85)
    elif ciudad == 'Mexico City':    res = (precio/20)
    elif ciudad == 'Sydney':         res = (precio * 0.73)
    elif ciudad == 'Rio de Janeiro': res = (precio/5.24)
    elif ciudad == 'Cape Town':      res = (precio/14.35)
    elif ciudad == 'Bangkok':        res = (precio/32.90)
    elif ciudad == 'Istanbul':       res = (precio/8.44)
    elif ciudad == 'Hong Kong':      res = (precio/7.78)
    else:
        res = precio
    
    return res

In [34]:
# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado['precio_dolar_us'] = df_alojamientos_filtrado.apply(lambda x: get_precio_dolar(x['ciudad'], x['precio']), axis=1)

<ipython-input-34-18545acf4de2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado['precio_dolar_us'] = df_alojamientos_filtrado.apply(lambda x: get_precio_dolar(x['ciudad'], x['precio']), axis=1)

In [35]:
df_alojamientos_filtrado.head()

,id_alojamiento,nombre,id_anfitrion,fecha_inicio_anfitrion,localizacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,tasa_aceptacion_anfitrion,superanfitrion,total_alojamientos_anfitrion,...,num_maximo_noches,calificacion_exactitud_anuncio,calificacion_comentarios_limpieza,calificacion_comentarios_entrada,calificacion_comentarios_comunicacion,calificacion_comentarios_localizacion,calificacion_total_comentarios,reservacion_instantanea,Anio,precio_dolar_us
9243,41893558,Cute 4 Bedroom in Hamilton Heights,154741428,2017-10-15,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,...,1125,8.0,10.0,8.0,8.0,10.0,10.0,t,2017,469.000000
9244,37102870,SeaSide Hong Kong,107359991,2016-12-15,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,...,1125,10.0,10.0,10.0,10.0,10.0,10.0,f,2016,181.105398
9245,34074389,"Vue sur le Bosphore, jardin magnifique, 3 pi√É∆í...",3135679,2012-02-08,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,...,1125,10.0,9.0,10.0,10.0,9.0,10.0,f,2012,47.748815
9246,10669776,"Chiara House, near Central Station",55114051,2016-01-18,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,...,1125,10.0,10.0,10.0,10.0,9.0,9.0,t,2016,60.000000
9247,18826436,Casa Salina-Breakfast offered first day,31550451,2015-04-19,"Paris, Ile-de-France, France",Unknown,0.0,1.0,t,1.0,...,1125,10.0,10.0,10.0,10.0,9.0,10.0,f,2015,57.647059

In [36]:
df_alojamientos_filtrado.isna().sum()

id_alojamiento                           0
nombre                                   0
id_anfitrion                             0
fecha_inicio_anfitrion                   0
localizacion_anfitrion                   0
tiempo_respuesta_anfitrion               0
tasa_respuesta_anfitrion                 0
tasa_aceptacion_anfitrion                0
superanfitrion                           0
total_alojamientos_anfitrion             0
identidad_verificada_anfitrion           0
vecindario                               0
distrito                                 0
ciudad                                   0
latitud                                  0
longitud                                 0
tipo_propiedad                           0
tipo_habitacion                          0
num_huespedes                            0
num_habitaciones                         0
amenidades                               0
precio                                   0
num_minimo_noches                        0
num_maximo_noches                        0
calificacion_exactitud_anuncio           0
calificacion_comentarios_limpieza        0
calificacion_comentarios_entrada         0
calificacion_comentarios_comunicacion    0
calificacion_comentarios_localizacion    0
calificacion_total_comentarios           0
reservacion_instantanea                  0
Anio                                     0
precio_dolar_us                          0
dtype: int64

In [40]:
sum(df_alojamientos_filtrado['precio_dolar_us']==1)

0

In [43]:
df_alojamientos_filtrado[['id_alojamiento', 'nombre', 'ciudad', 'precio', 'precio_dolar_us']]

,id_alojamiento,nombre,ciudad,precio,precio_dolar_us
9243,41893558,Cute 4 Bedroom in Hamilton Heights,New York,469,469.000000
9244,37102870,SeaSide Hong Kong,Hong Kong,1409,181.105398
9245,34074389,"Vue sur le Bosphore, jardin magnifique, 3 pi√É∆í...",Istanbul,403,47.748815
9246,10669776,"Chiara House, near Central Station",Rome,51,60.000000
9247,18826436,Casa Salina-Breakfast offered first day,Rome,49,57.647059
...,...,...,...,...,...
273162,39665160,Le Saint Sulpice sous les toits,Paris,80,94.117647
273163,43636520,Charming Studio Oberkampf,Paris,90,105.882353
273164,44000812,Flat College de France,Paris,200,235.294118
273165,44261372,Pleasant apt in PLACE D'ITALIE,Paris,80,94.117647
273166,45308348,Appartement Cosy Paris 9 Quartier poissonni√É∆í√Ç¬®re,Paris,60,70.588235

In [44]:
#Se crea el dataset para Roma
df_alojamientos_filtrado_rome = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Rome']
df_alojamientos_filtrado_rome.shape

(15209, 33)

In [45]:
#Se crea el dataframe para Paris
df_alojamientos_filtrado_paris = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Paris']
df_alojamientos_filtrado_paris.shape

(19245, 33)

In [46]:
#Se crea el dataframe para New York
df_alojamientos_filtrado_newyork = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'New York']
df_alojamientos_filtrado_newyork.shape

(14764, 33)

In [47]:
#Se crea el dataframe para Mexico City
df_alojamientos_filtrado_mexico = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Mexico City']
df_alojamientos_filtrado_mexico.shape

(11723, 33)

In [48]:
#Se crea el dataframe para Sydney
df_alojamientos_filtrado_sydney = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Sydney']
df_alojamientos_filtrado_sydney.shape

(10172, 33)

In [49]:
#Se crea el dataframe para Rio de Janeiro
df_alojamientos_filtrado_rio = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Rio de Janeiro']
df_alojamientos_filtrado_rio.shape

(10834, 33)

In [50]:
#Se crea el dataframe para Cape Town
df_alojamientos_filtrado_capetown = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Cape Town']
df_alojamientos_filtrado_capetown.shape

(9616, 33)

In [51]:
#Se crea el dataframe para Bangkok
df_alojamientos_filtrado_bangkok = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Bangkok']
df_alojamientos_filtrado_bangkok.shape

(7142, 33)

In [52]:
#Se crea el dataframe para Istanbul
df_alojamientos_filtrado_istanbul = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Istanbul']
df_alojamientos_filtrado_istanbul.shape

(8206, 33)

In [53]:
#Se crea el dataframe para Hong Kong
df_alojamientos_filtrado_hong = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Hong Kong']
df_alojamientos_filtrado_hong.shape

(2248, 33)

# Creacion de tabla donde se combinan comentarios y alojamientos

In [61]:
df_comentarios_merge = pd.merge(df_comentarios_renamed, df_alojamientos_filtrado, on='id_alojamiento').sort_index()
df_comentarios_merge.head()

,id_alojamiento,id_comentario,Fecha,id_usuario_comenta,nombre,id_anfitrion,fecha_inicio_anfitrion,localizacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,...,num_maximo_noches,calificacion_exactitud_anuncio,calificacion_comentarios_limpieza,calificacion_comentarios_entrada,calificacion_comentarios_comunicacion,calificacion_comentarios_localizacion,calificacion_total_comentarios,reservacion_instantanea,Anio,precio_dolar_us
0,11798,330265172,2018-09-30,11863072,Loft very charming in Paris,44444,2009-08-10,"Paris, Ile-de-France, France",Unknown,0.0,...,20,10.0,10.0,10.0,10.0,10.0,10.0,f,2009,129.411765
1,11798,437228860,2019-04-14,3153099,Loft very charming in Paris,44444,2009-08-10,"Paris, Ile-de-France, France",Unknown,0.0,...,20,10.0,10.0,10.0,10.0,10.0,10.0,f,2009,129.411765
2,11798,274915772,2018-06-10,13021254,Loft very charming in Paris,44444,2009-08-10,"Paris, Ile-de-France, France",Unknown,0.0,...,20,10.0,10.0,10.0,10.0,10.0,10.0,f,2009,129.411765
3,11798,284327934,2018-07-01,74131694,Loft very charming in Paris,44444,2009-08-10,"Paris, Ile-de-France, France",Unknown,0.0,...,20,10.0,10.0,10.0,10.0,10.0,10.0,f,2009,129.411765
4,11798,223467265,2018-01-01,39665778,Loft very charming in Paris,44444,2009-08-10,"Paris, Ile-de-France, France",Unknown,0.0,...,20,10.0,10.0,10.0,10.0,10.0,10.0,f,2009,129.411765

In [62]:
df_comentarios_merge.dtypes

id_alojamiento                                    int64
id_comentario                                     int64
Fecha                                    datetime64[ns]
id_usuario_comenta                                int64
nombre                                           object
id_anfitrion                                      int64
fecha_inicio_anfitrion                   datetime64[ns]
localizacion_anfitrion                           object
tiempo_respuesta_anfitrion                       object
tasa_respuesta_anfitrion                        float64
tasa_aceptacion_anfitrion                       float64
superanfitrion                                   object
total_alojamientos_anfitrion                    float64
identidad_verificada_anfitrion                   object
vecindario                                       object
distrito                                         object
ciudad                                           object
latitud                                         float64
longitud                                        float64
tipo_propiedad                                   object
tipo_habitacion                                  object
num_huespedes                                     int64
num_habitaciones                                float64
amenidades                                       object
precio                                            int64
num_minimo_noches                                 int64
num_maximo_noches                                 int64
calificacion_exactitud_anuncio                  float64
calificacion_comentarios_limpieza               float64
calificacion_comentarios_entrada                float64
calificacion_comentarios_comunicacion           float64
calificacion_comentarios_localizacion           float64
calificacion_total_comentarios                  float64
reservacion_instantanea                          object
Anio                                              int64
precio_dolar_us                                 float64
dtype: object

In [63]:
df_comentarios_merge.shape

(4039986, 36)

In [64]:
df_comentarios_merge.to_csv('comentarios_merge.csv', index = False)

In [58]:
df_comentarios_merge['ciudad'].unique()

array(['New York', 'Cape Town', 'Istanbul', 'Paris', 'Rome',
       'Rio de Janeiro', 'Sydney', 'Mexico City', 'Bangkok', 'Hong Kong'],
      dtype=object)